<style scoped>
    .post > h1 {
        margin-bottom: 0;
    }

    .post > h1 > a {
        color: inherit;
        border-bottom: none;
    }

    .post > p {
        text-align: justify;
        line-height: 1.58;
        font-size: 1.1em;
    }

    .post .date {
        color: #545454;
        line-height: 1;
        font-size: 1em;
    }

    .post:last-child {
        margin-bottom: 2rem;
    }

    .divider {
        margin: 2rem 0;
    }
</style>

{{#posts}}
    <section class="post">
        <h1><a href="/{{url_prefix}}/{{url}}">{{title}}</a></h1>
        <p class="date">{{date}}</p>
        {{{first_paragraph}}}
    </section>
    {{^last}}
        <hr class="divider"/>
    {{/last}}
{{/posts}}
