<style scoped>
    .post > h1 {
        margin-bottom: 0;
    }

    .divider {
        margin: 2rem 0;
    }

    .divider:last-child {
        display: none;
    }
</style>

{{#posts}}
    <section class="post">
        <h1><a href="/blog/posts/{{url}}">{{title}}</a></h1>
        <p class="date">{{date}}</p>
        {{{first_paragraph}}}
        <div class="tags">
            {{#tags}}
                <a href="/blog/tags/{{.}}">#{{.}}</a>
            {{/tags}}
        </div>
    </section>
    <hr class="divider"/>
{{/posts}}
