<style scoped>
    .post header h1 {
        margin-bottom: 0;
    }

    .post header {
        text-align: center;
    }

    .date {
        margin: 0.7em 0 1em;
    }

    .prev-next {
        display: flex;
        justify-content: space-between;
    }
</style>

<a href="/blog" class="back-button nav">&larr; Back to index</a>

{{#post}}
    <article class="post">
        <header>
            <h1>{{title}}</h1>
            <div class="date">{{formatted_date}} &middot; {{reading_time}} min</div>
            {{#has_tags}}
                <div class="tags">
                    {{#tags}}
                        <a href="/blog/tags/{{.}}">#{{.}}</a>
                    {{/tags}}
                </div>
            {{/has_tags}}
        </header>
        <hr class="divider" />
        {{{content}}}
    </article>
{{/post}}
<nav class="prev-next nav">
    {{#prev}}
        <a href="/blog/posts/{{url}}">&larr; {{title}}</a>
    {{/prev}}
    {{#next}}
        <a class="next" href="/blog/posts/{{url}}">{{title}} &rarr;</a>
    {{/next}}
</nav>
