<style scoped>
    .post h1 {
        margin-bottom: 0;
    }

    .date {
        margin: 0.7em 0 1em;
    }

    .divider:last-child {
        display: none;
    }
</style>

<section class="posts">
{{#posts}}
    <section class="post">
        <h1><a href="/blog/posts/{{url}}">{{title}}</a></h1>
        <div class="date">{{date}}</div>
        {{#has-tags}}
            <div class="tags">
                {{#tags}}
                    <a href="/blog/tags/{{.}}">#{{.}}</a>
                {{/tags}}
            </div>
        {{/has-tags}}
        {{{first_paragraph}}}
        <a class="read-more" href="/blog/posts/{{url}}">... read more</a>
    </section>
    <hr class="divider"/>
{{/posts}}
</section>
