<h1>My current goals</h1>

<hr />

<p>This page is for keeping track of my current goals. The idea is that putting them here and making my progress public will make me more inclined to keep up with them.</p>

<h2>Goals for the summer</h2>

<p>These are my main goals for the summer. I am mostly focusing on making a habit of coding, reading books and going to the gym.</p>

<ul>
    <li>Keep a commit streak on GitHub for the entire summer
        <ul>
            <li>Current streak: {{streak}} (calculated with <a href="https://github.com/mhgbrg/github-commit-streak">this</a>).</li>
            <li>See my contributions on my <a href="https://github.com/mhgbrg">GitHub profile</a>.</li>
        </ul>
    </li>
    <li>Publish at least one blog post per week during the entire summer
        <ul>
            <li>See my latest posts on my <a href="/blog">blog</a>.</li>
        </ul>
    </li>
    <li>Workout three times a week during the entire summer</li>
</ul>

<h2>Workout goals</h2>

<p>I am currently following the <a href="http://stronglifts.com/">Stronglifts</a> workout and these are my current workout goals:</p>

<ul>
    <li>Achieve a body weight of <strong>75 kg</strong> (current 65 kg)</li>
    <li>Squat <strong>100 kg</strong> 5x5 (current 30 kg)</li>
    <li>Bench press <strong>75 kg</strong> 5x5 (current 20 kg)</li>
    <li>Barbell row <strong>75 kg</strong> 5x5 (current 30 kg)</li>
    <li>Shoulder press <strong>50 kg</strong> 5x5 (current 20 kg)</li>
    <li>Deadlift <strong>120 kg</strong> 1x5 (current 42.5 kg)</li>
    <li>Do <strong>3x12</strong> pull ups (current 3x3)</li>
    <li>Do <strong>3x12</strong> dips (current ?)</li>
</ul>

<p>The above weights correspond to the 1RM weights for an intermediate lifter at 75 kg, taken from <a href="http://www.exrx.net/Testing/WeightLifting/StrengthStandards.html">ExRx strength goals</a>.</p>
