<style scoped>
    p:last-child {
        margin-bottom: 0;
    }
</style>

<h1>Mats Högberg</h1>
<hr />
<p>I am a software engineering student with a passion for startups, hackathons, new technology, self development and learning new stuff. My main goal right now is to finish school with excellent grades while studying as effective as possible, leaving a lot of time left to just have fun, learn about interesting stuff and enjoy life to its fullest.</p>
<p>Want to contact me? Send me an <a href="mailto:mats@hgbrg.se">email</a>.</p>
<p>You can find me on <a href="https://github.com/mhgbrg">GitHub</a>, <a href="https://www.facebook.com/mhgbrg">Facebook</a> and <a href="https://www.linkedin.com/in/matshoegberg">LinkedIn</a>. My official resume can be found <a href="https://docs.google.com/document/d/1SCBGOnvCII7qHwuHUmIKSm3lk3tiAuiZCoL7H4ZnoGo/edit?usp=sharing">here</a>.</p>
