<!DOCTYPE HTML>

<html>
    <head>
        <title>Mats Högberg - {{data.title}}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/prism/prism.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/post.css" />
        <script src="/modernizr.js"></script>
    </head>
    <body>
        <nav class="main">
            <a href="/" {{#data.index}}class="current"{{/data.index}}>Home</a>
            <a href="/blog" {{#data.blog}}class="current"{{/data.blog}}>Blog</a>
        </nav>
        <main>
            {{{body}}}
        </main>
        <script src="/prism/prism.js"></script>
    </body>
</html>
