.post > p, .post > ul, .post > ol {
    text-align: justify;
    line-height: 1.58;
}

.post > h1, .post > h2, .post > h3, .post > h4, .post > h5, .post > h6 {
    position: relative;
}

.post > h1::before, .post > h2::before, .post > h3::before, .post > h4::before, .post > h5::before, .post > h6::before {
    content: "#";
    position: absolute;
    left: -1em;
    color: #ccc;
}

.post > h1:hover::before, .post > h2:hover::before, .post > h3:hover::before, .post > h4:hover::before, .post > h5:hover::before, .post > h6:hover::before {
    color: #b40b70;
}

.post > h1:active::before, .post > h2:active::before, .post > h3:active::before, .post > h4:active::before, .post > h5:active::before, .post > h6:active::before {
    color: #870051;
}

.post h1 > a, .post h2 > a, .post h3 > a, .post h4 > a, .post h5 > a, .post h6 > a {
    border: none;
    color: inherit;
}

.post .date {
    color: #545454;
    line-height: 1;
    font-size: 1em;
}

.post .tags {
    margin-bottom: 1.5em;
}

.post .tags > a {
    font-size: 0.7em;
    margin-right: 0.5em;
    padding: 0.5em 0.75em;
    background-color: #eee;
    color: #555;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    border: none;
}

.post .tags > a:last-child {
    margin-right: 0;
}

.post .tags > a:hover {
    background-color: #ddd;
}

.post .tags > a:active {
    background-color: #ccc;
}
