<style scoped>
    .post > h1 {
        margin-bottom: 0;
    }

    .post > h1 > a {
        color: inherit;
        text-decoration: none;
    }

    .post > p {
        text-align: justify;
    }

    .post .date {
        color: #545454;
    }
</style>

{{#posts}}
    <section class="post">
        <h1><a href="/{{url}}">{{title}}</a></h1>
        <p class="date">{{date}}</p>
        {{{first_paragraph}}}
        <hr />
    </section>
{{/posts}}
