<style scoped>
    h1 {
        margin-bottom: 0;
    }

    h1, .date {
        text-align: center;
    }

    p {
        text-align: justify;
    }

    .next {
        float: right;
    }
</style>

<article>
    {{#post}}
        <h1>{{title}}</h1>
        <p class="date">{{date}}</p>
        {{{first_paragraph}}}
        {{{content}}}
    {{/post}}
    <nav>
        {{#prev}}
            <a href="{{title}}.html"><< {{title}}</a>
        {{/prev}}
        {{#next}}
            <a class="next" href="{{title}}.html">{{title}} >></a>
        {{/next}}
    </nav>
</article>
