<style scoped>
    h1 {
        margin-bottom: 0;
    }

    h1, .date {
        text-align: center;
    }

    p {
        text-align: justify;
    }

    .next {
        float: right;
    }

    nav {
        margin-bottom: 2rem;
    }
</style>


<article>
    {{#post}}
        <h1>{{title}}</h1>
        <p class="date">{{date}}</p>
        {{{first_paragraph}}}
        {{{content}}}
    {{/post}}
</article>
<nav>
    {{#prev}}
        <a href="/{{url}}">&larr; {{title}}</a>
    {{/prev}}
    {{#next}}
        <a class="next" href="/{{url}}">{{title}} &rarr;</a>
    {{/next}}
</nav>
