<!DOCTYPE HTML>

<html>
    <head>
        <title>mhgbrg - {{data.title}}</title>
        <meta charset="utf-8" />
        <style>
            @import url(https://fonts.googleapis.com/css?family=Droid+Serif);
            @import url(https://fonts.googleapis.com/css?family=Open+Sans);

            body {
                font-family: 'Droid Serif', serif;
            }

            .wrapper {
                width: 35rem;
                margin: 0 auto;
            }

            .main-nav {
                display: flex;
                margin-left: 1em;
                margin-top: 1em;
                font-family: 'Open Sans', sans-serif;
                font-size: 0.9em;
            }

            .main-nav > div {
                padding: 0.5em 0.5em;
            }

            .main-nav a {
                text-decoration: none;
                color: #d02e8f;
            }

            .main-nav a:hover {
                color: #b40b70;
            }

            .main-nav a:active {
                color: #870051;
            }

            .main-nav a.current {
                color: black;
                border-bottom: 2px solid black;
                padding-bottom: 3px;
            }
        </style>
    </head>
    <body>
        <nav class="main-nav">
            <div>
                <a href="index.html" {{#data.index}}class="current"{{/data.index}}>Home</a>
            </div>
            <div>
                <a href="blog.html" {{#data.blog}}class="current"{{/data.blog}}>Blog</a>
            </div>
        </nav>
        <div class="wrapper">
            {{{body}}}
        </div>
    </body>
</html>
