<!DOCTYPE HTML>

<html>
    <head>
        <title>mhgbrg - {{title}}</title>
        <meta charset="utf-8" />
        <style>
            @import url(https://fonts.googleapis.com/css?family=Droid+Serif);

            body {
                margin: 0 auto;
                font-family: 'Droid Serif', serif;
                width: 35rem;
            }

            .date {
                color: #545454;
            }
        </style>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
